@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

nav{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a.link-sm{
    color: #728196;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

button.btn-primary {
    background-color: #079911;
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.nav-brand{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.link-sm{
    margin-right: 32px;
}

.btn-secondary{
    background-color: white;
    border-color: black;
    padding: 13px 27px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.hero-heading-text{
    margin-top: 120px;
}

h1.hero-heading{
    margin-bottom: 24px;
    font-size: 64px;
    width: 60%;
    line-height: 74px;
    color: #242424;
}

p.text-p{
    width: 55%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #626262;
    margin-bottom: 56px;
}

section.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column-hero-ilus img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9999;
}

img.ilus-1{
    margin-top: 25px;
}

section.reason{
    margin-top: 20%;
    width: 100%;
}

.reason-tittle{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reason-heading{
    font-size: 48px;
    color: #242424;
    margin-bottom: 32px;
}

.text-reason-p{
    font-size: 20px;
    color: #626262;
}

.column-reason-ilus{
    display: flex;
    justify-content: space-between;
}

.row-3-col{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 94px;
}

.col{
    display: flex;
    align-items: center;
}

.col h2{
    margin-left: 36px;
    color: #242424;
}

.feature-one{
    margin-top: 165px;
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-one-tittle{
    margin-left: 150px;
}

.feature-one-tittle h1{
    width:80%;
    font-size: 48px;
    color: #242424;
    margin-bottom: 28px;
}

.feature-one-tittle p{
    font-size: 20px;
    color: #626262;
    width: 70%;
    margin-bottom: 36px;
}

.feature-one-ilus img{
margin-left: 130px;   
}

.feature-two{
    margin-top: 165px;
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-two-tittle{
    margin-left: 150px;
}

.feature-two-tittle h1{
    width:80%;
    font-size: 48px;
    color: #242424;
    margin-bottom: 28px;
}

.feature-two-tittle p{
    font-size: 20px;
    color: #626262;
    width: 65%;
    margin-bottom: 36px;
}

.feature-two-ilus img{
    margin-right: 120px;
}