@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

nav{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

a.link-sm{
    color: #728196;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

button.btn-primary {
    background-color: #079911;
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.nav-brand{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.link-sm{
    margin-right: 32px;
}

.btn-secondary{
    background-color: white;
    border-color: black;
    padding: 13px 27px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.hero-heading-text{
    margin-top: 120px;
}

h1.hero-heading{
    margin-bottom: 24px;
    font-size: 64px;
    width: 60%;
    line-height: 74px;
    color: #242424;
}

p.text-p{
    width: 55%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #626262;
    margin-bottom: 56px;
}

section.hero{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column-hero-ilus img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9999;
}

img.ilus-1{
    margin-top: 25px;
}

section.reason{
    margin-top: 20%;
    width: 100%;
}

.reason-tittle{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reason-heading{
    font-size: 48px;
    color: #242424;
    margin-bottom: 32px;
}

.text-reason-p{
    font-size: 20px;
    color: #626262;
}

.column-reason-ilus{
    display: flex;
    justify-content: space-between;
}

.row-3-col{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 94px;
}

.col{
    display: flex;
    align-items: center;
}

.col h2{
    margin-left: 36px;
    color: #242424;
}

.feature-one{
    margin-top: 165px;
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-one-tittle{
    margin-left: 150px;
}

.feature-one-tittle h1{
    width:80%;
    font-size: 48px;
    color: #242424;
    margin-bottom: 28px;
}

.feature-one-tittle p{
    font-size: 20px;
    color: #626262;
    width: 70%;
    margin-bottom: 36px;
}

.feature-one-ilus img{
margin-left: 130px;   
}

.feature-two{
    margin-top: 165px;
    width: 100%;
    display: flex;
    align-items: center;
}

.feature-two-tittle{
    margin-left: 150px;
}

.feature-two-tittle h1{
    width:80%;
    font-size: 48px;
    color: #242424;
    margin-bottom: 28px;
}

.feature-two-tittle p{
    font-size: 20px;
    color: #626262;
    width: 65%;
    margin-bottom: 36px;
}

.feature-two-ilus img{
    margin-right: 120px;
}

section.pricing{
    padding: 64px;
    margin-top: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-light-green{
    background-color: #F2FFF3;
    border-radius: 40px;
}

.heading{
    text-align: center;
}

.heading h1{
    font-size: 56px;
    color: #242424;
}

.heading p{
    font-size: 20px;
    color: #626262;
    margin-top: 8px;
}

.switcher{
    background-color: #D3FFD6;
    padding: 8px;
    border-radius: 100px;
    margin-top: 28px;
}

button.btn-on-tab{
    background-color: #079911;
    color: #fff;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 100px;
    font-weight: 500;
    border: none;
}

button.btn-off-tab{
    background-color: transparent;
    color: #A0A0A0;
    font-weight: 500;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
}

.row-card-pricing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 48px;
    margin-top: 32px;
}

.card-pricing{
    border: 3px solid;
    border-radius: 30px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.description-pricing{
    height: 25vh;
}

.description-pricing h2{
    font-size: 24px;
    color: #242424;
}

.description-pricing h1{
    font-size: 48px;
}

.description-pricing h1 span{
    font-size: 24px;
}
.feature-list{
    margin-top: 12px;
}

.feature-list p{
    color: #242424;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.feature-list img{
margin-right: 4px;
}

button.bg-dark{
    background-color: #242424;
}

.card-primary h2,.card-primary h1, .card-primary{
    color: #079911;
}

.heading-testi{
    font-size: 44px;
    width: 90%;
    color: #242424;
    line-height: 68px;
}

section.testimonial{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin: 235px 0;
}

.reviewer{
    display: flex;
}

.description-testi{
    margin-top: 72px;
}

.description-testi h3{
    font-size: 32px;
    margin-bottom: 32px;
    color: #242424;
}

.description-testi p{
    font-size: 22px;
    margin-bottom: 16px;
}

.label-user{
    color: #079911;
    font-weight: 500;
}

.tab{
    display: flex;
    width: 10vh;
    justify-content: space-between;
    margin: 44px 0;
}
.tab span{
    background-color: transparent;
    border: 1px solid #242424;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.tab span.active{
    background-color: #242424;
    border: 1px solid #242424;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
section.jumbotron{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin: 100px 0;
    padding: 64px;
}
.single-centered-cta{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-jumbotron h1{
    font-size: 48px;
}

.description-jumbotron p{
    width: 70%;
    font-size: 20px;
    margin-top: 24px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #D3FFD6;
    transition: all .5s ease;
}